body{
  background-color: #E05A47;
  line-height: 1.1;
}

.body-container{
  padding-top: 140px;
}

.home-banner{
  display: flex;
  max-width: 1200px;
  text-align: left;
  background-color: #E05A47;
  border-left: 4px solid #004AAD;
  margin: 0 auto;
  justify-content: space-between;
}

.home-title-box{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: left;
  margin-left: 56px;
}

.home-banner-title{
  display: flex;
  max-width: 600px;
  margin: auto;
}

.home-banner-subtitle{
  display: flex;
  max-width: 600px;
  margin: auto;
}

.home-banner-subtitle-text{
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 0;
  gap: 10px;
}

.home-banner-subtitle-img{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.home-button-box {
  display: flex;
  flex-direction: column;
  background-color: #FFFFF3;
  border-radius: 40px;
  width: 560px;
  padding: 36px;
  justify-content: space-between;
}

.home-button-box-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-button-box-buttons {
  display: flex;
}

.home-subtitle {
  display: flex;
  max-width: 1200px;
  margin: 30px auto;
  justify-content: left;
}

.recipe-home-cards-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto;
  max-width: 1200px;
  gap: 20px;
}

.recipe-home-cards-line{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
