body{
  background-color: #E05A47;
  line-height: 1.1;
}

.body-container{
  padding-top: 140px;
}

.profile-details{
  display: flex;
  max-width: 1200px;
  text-align: center;
  background-color: #E05A47;
  margin: 0 auto;
  justify-content: space-between;
}

.profile-specs {
  padding: 20px;
}

.profile-box {
  flex-direction: column;
  background-color: #FFFFF3;
  border-radius: 40px;
  width: 560px;
  padding: 36px;
  justify-content: space-between;
}

.profile-photo{
  justify-content: center;
  border-radius: 50%;
  flex: 0.4;
  margin: 15px;
}

.profile-preferences-diet {
  margin: 0 30px;
}

.edit-button {
  background-color: white;
  border: 0;
}

.user-edit {
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.profile-plans {
  align-items: center;
  margin-top: 120px;
}
