<div class="week-names">
    <div>monday</div>
    <div>tuesday</div>
    <div>wednesday</div>
    <div>thursday</div>
    <div>friday</div>
    <div>saturday</div>
    <div>sunday</div>
  </div>
  <div class="time-interval">
    <div>Breakfast</div>
    <div>Lunch</div>
    <div>Lanchinho</div>
    <div>Dinner</div>
  </div>
  <div class="content">
    <div>
      <div class="accent-orange-gradient"></div>
    </div>
    <div></div>
    <div></div>
    <div></div>
        <div>
      <div class="accent-green-gradient"></div>
    </div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div></div>
    <div></div>
    <div></div>
    <div>
      <div class="accent-cyan-gradient"></div>
    </div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div>
      <div class="accent-pink-gradient"></div>
    </div>
    <div></div>
    <div>
      <div class="accent-purple-gradient"></div>
    </div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div>
      <div class="accent-purple-gradient"></div>
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div class="weekend"></div>
    <div class="weekend"></div>
  </div>
