<div class="week-names">

    <div><h4>Monday</h4></div>
    <div><h4>Tuesday</h4></div>
    <div><h4>Wednesday</h4></div>
    <div><h4>Thursday</h4></div>
    <div><h4>Friday</h4></div>
    <div><h4>Saturday</h4></div>
    <div><h4>Sunday</h4></div>

  </div>

  <div class="time-interval">

    <div><h4>Breakfast</h4></div>
    <div><h4>Snack</h4></div>
    <div><h4>Lunch</h4></div>
    <div><h4>Snack</h4></div>
    <div><h4>Dinner</h4></div>
    <div><h4>Ceia</h4></div>

  </div>

  <div class="content">

    <%= render "meal_timetable_card" %>

  </div>

</div>
