<div class="week-names">

    <div>monday</div>
    <div>tuesday</div>
    <div>wednesday</div>
    <div>thursday</div>
    <div>friday</div>
    <div>saturday</div>
    <div>sunday</div>

  </div>

  <div class="time-interval">

    <div>Breakfast</div>
    <div>Snack</div>
    <div>Lunch</div>
    <div>Snack</div>
    <div>Dinner</div>
    <div>Ceia</div>

  </div>

  <div class="content">

    <%= render "meal_timetable_card" %>

  </div>

</div>
