<div class="week-names">
    <div>monday</div>
    <div>tuesday</div>
    <div>wednesday</div>
    <div>thursday</div>
    <div>friday</div>
    <div>saturday</div>
    <div>sunday</div>
  </div>
  <div class="time-interval">
    <div>Breakfast</div>
    <div>Lanchinho</div>
    <div>Lunch</div>
    <div>Lanchinho</div>
    <div>Dinner</div>
    <div>Ceia</div>
  </div>
  <div class="content">
    <% 42.times do %>
    <div class="list-group-item" data-controller="drag-item"></div>
    <% end %>
  </div>
</div>
