<div class="main-column">
  <div><h8>Monday</h8></div>
  <div><h8>Tuesday</h8></div>
  <div><h8>Wednesday</h8></div>
  <div><h8>Thursday</h8></div>
  <div><h8>Friday</h8></div>
  <div><h8>Saturday</h8></div>
  <div><h8>Sunday</h8></div>
</div>

<div class="main-row">
  <div><h8>Breakfast</h8></div>
  <div><h8>Snack</h8></div>
  <div><h8>Lunch</h8></div>
  <div><h8>Snack</h8></div>
  <div><h8>Dinner</h8></div>
  <div><h8>Ceia</h8></div>
</div>
