<div class="week-names">
    <div>monday</div>
    <div>tuesday</div>
    <div>wednesday</div>
    <div>thursday</div>
    <div>friday</div>
    <div>saturday</div>
    <div>sunday</div>
  </div>
  <div class="time-interval">
    <div>Breakfast</div>
    <div>Lanchinho</div>
    <div>Lunch</div>
    <div>Lanchinho</div>
    <div>Dinner</div>
    <div>Ceia</div>
  </div>
  <div class="content" data-controller="drag-item">
    <div class="list-group-item" id="Monday" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" class="weekend"></div>
    <div class="list-group-item" class="weekend"></div>
    <div class="list-group-item" id="Monday"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item">
      <div class="accent-cyan-gradient"></div>
    </div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" id="Monday"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" id="Monday"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" id="Monday"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" id="Monday"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
    <div class="list-group-item" data-controller="drag-item" class="weekend"></div>
  </div>
</div>
