.body-container-plan{
  padding-top: 80px;
}

.main-container-plan{
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 50px;
}

.header-container-plan{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding: 0 20px 20px 20px;

}

.title-container-plan{

}

.header-buttons-container-plan{
  display: flex;
  gap: 20px;
}

.planner-container{
  display: flex;
  max-width: 1200px;
}

.timetable-container{
  display: flex;
  width: 600px;
  height: auto;

}

.timetable-content{
  margin: 40px -520px;
}

.recipe-cards-container{
  // display: grid;
  // grid-template-columns: 1fr;
  display: flex;
  flex-wrap: wrap;
  margin-left: 600px;
  width: 600px;
  height: 400px;
}

.card-meal {
  overflow: hidden;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}
