  <div class="modal fade" id="exampleModalIntolerances" tabindex="-1" role="dialog" aria-labelledby="exampleModalIntolerancesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3></h3>
          <h3 class="modal-title" id="exampleModalIntolerancesLabel">Select your Intolerances!</h3>
          <button type="button" class="close-button" data-dismiss="modal" aria-label="Close">
            <i class="bi bi-x-circle-fill"></i>
          </button>
        </div>
        <div class="modal-body">
          <%# <% @intolerances=current_user.intolerances %>
            <%= simple_form_for @intolerances do |f| %>
              <h9><%= f.input :intolerances, as: :check_boxes, collection: [['Dairy',0], ['Egg',1], ['Gluten',2], ['Peanut',3], ['Sesame',4], ['Seafood',5], ['Shellfish',6], ['Soy',7], ['Sulfite',8], ['Tree nut',9], ['Wheat',10]]%></h9>
          </div>
        <div class="modal-footer">
          <button type="button" class="button-1 close" data-dismiss="modal">Close</button>
              <%= f.button :submit, 'Create', class:"button-1" %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
