<div class="body-container">
  <div class="home-banner">
    <div class="home-title-box">
      <div class="home-banner-title">
        <h1>What Eat</h1>
      </div>
      <div class="home-banner-subtitle">
        <div class="home-banner-subtitle-text">
          <h2>The #1 tool</h2>
          <h2>to plan all</h2>
          <h2>your meals</h2>
        </div>
        <div class="home-banner-subtitle-img">
          <%= image_tag("forkspoon.png", width: '240', align: 'center', alt: "Fork and spoon", class: 'logo-symbol' ) %>
        </div>
      </div>
    </div>
    <div class="home-button-box">
      <div class="home-button-box-text">
        <h4><b>What Eat</b> is a powerfull tool to help you plan your meals while creating a neat calendar and organizing your grocerie list accordingly. We have a great database with recipes fitting to all dietary restrictions and food preferences.</h4>
        <h4><b>Let us help you eat better!</b></h4>
      </div>
      <div class="home-button-box-buttons">
        <button class="button-1">SIGN UP</button>
      </div>
    </div>
  </div>
  <div class="home-subtitle">
    <h3>Check out some of our recipes:</h3>
  </div>
  <div class="recipe-home-cards-container">
    <div class="recipe-home-cards-line">
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
    </div>
  </div>
</div>
<br>
<br>
