<div class="body-container">
  <div class="home-banner">
    <div class="home-title-box">
      <div class="home-banner-title">
        <h1>What Eat</h1>
      </div>
      <div class="home-banner-subtitle">
        <div class="home-banner-subtitle-text">
          <h2>The #1 tool</h2>
          <h2>to plan all</h2>
          <h2>your meals</h2>
        </div>
        <div class="home-banner-subtitle-img">
          <%= image_tag("forkspoon.png", width: '240', align: 'center', alt: "Fork and spoon", class: 'logo-symbol' ) %>
        </div>
      </div>
    </div>
    <div class="home-button-box">
    </div>
  </div>
  <div class="home-subtitle">
    <h3>Check out some of our recipes:</h3>
  </div>
  <div class="recipe-home-cards-container">
    <div class="recipe-home-cards-line">
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
      <div class="recipe-home-card"></div>
    </div>
  </div>
</div>
<br>
<br>

<%=link_to "profile", profile_meals_path%>
