<div class="body-container">
  <div class="header-nohero">
  </div>
  <div class="home-text-box-background">
   <div class="home-text-box-container">
     <div class="home-text-box">
       <div class="home-banner-title">
        <h1>What Eat</h1>
       </div>
       <div class="home-banner-text">
        <p>This is a descriptive text of whatever amazing thing it is that our app does and how, as well as why should people use it. Lorem ipsum dolor sit amet, etc etc bla bla bla. I'm just writing a bunch of things so that we can have plenty of text here and understand how this card is finally going to look like in the end.</p>
      </div>
       <div class="login-button">
        <a>Login</a>
       </div>
       <div class="signup-button">
       <a>Sign Up</a>
      </div>
      </div>
    </div>
  </div>
  <div class="home-subtitle">
    <h1>Check out some of our recipes:</h1>
  </div>
  <div class="recipe-home-cards-container">
    <div class="recipe-home-cards-line">
     <div class="recipe-home-card">
     </div>
     <div class="recipe-home-card">
     </div>
     <div class="recipe-home-card">
     </div>
     <div class="recipe-home-card">
     </div>
     <div class="recipe-home-card">
     </div>
     <div class="recipe-home-card">
     </div>
     <div class="recipe-home-card">
     </div>
     <div class="recipe-home-card">
     </div>
    </div>
  </div>
  <br>
  <br>
  <p>This is a paragraph to simulate a footer.</p>
</div>

<%=link_to "profile", profile_meals_path%>
