<div class="body-container">
  <div class="header-nohero">
  </div>
  <div class="home-text-box-background">
   <div class="home-text-box-container">
     <div class="home-text-box">
       <div class="home-banner-title">
        <h1>What Eat</h1>
       </div>
       <div class="home-banner-text">
        <p>This is a descriptive text of whatever amazing thing it is that our app does and how, as well as why should people use it.</p>
      </div>
       <div class="login-button">
        <a>Login</a>
       </div>
       <div class="signup-button">
       <a>Sign Up</a>
      </div>
      </div>
    </div>
  </div>
<br><br>
<p>This is a paragraph to simulate more content.</p>
<p>This is a paragraph to simulate more content.</p>
<p>This is a paragraph to simulate more content.</p>
<p>This is a paragraph to simulate more content.</p>
<p>This is a paragraph to simulate more content.</p>
<p>This is a paragraph to simulate more content.</p>
<p>This is a paragraph to simulate more content.</p>
<p>This is a paragraph to simulate more content.</p>
<p>This is a paragraph to simulate more content.</p>
</div>

<%=link_to "profile", profile_meals_path%>
