<div class="body-container">
  <% if current_user.plans == [] %>
    <div>
      <h3> You don't have any plans yet </h3>

      <%= link_to "Create a new plan", profile_plans_path, method: :post %>

    </div>
  <% else %>
    <div>
      <h3> Select your plan! </h3>
      <div>
        <h3> Current Plan </h3>
        <ul>
          <li><%= link_to "Current Plan", "/profile/plans/#{@plans.last.id}", class: "nav-link" %></li>
        </ul>
      </div>

      <div>
        <h3> Old Plans </h3>

        <ul>
          <li>You don't have old plans yet.</li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
