.button-1{
  display: flex;
  position: relative;
  background-color: #004AAD;
  color: #FFFFF3;
  border-radius: 50px;
  width: 120px;
  height: 44px;
  justify-content: center;
  align-items: center;
}
