.footer {
  display: flex;
  background-color: #fffff3;
  position: absolute;
  left: 0;
  bottom: 0;
  justify-content: center;
  width: 100%;
  color: #E05A47;
  text-align: center;
  padding: 10px 0 10px 0;
  font-family: Kanit;
  font-size: 14px;
  color: #E05A47;
}

.footer-credits{
  font-family: Kanit;
  font-size: 14px;
  color: #E05A47;
  //padding: 0 ;
}

.link-footer{
  font-size: 14px;
  color: #E05A47;
}
