.header{
  display: flex;
  width: 100%;
  height: 400px;
  background-image: linear-gradient(#dcf1b8, #ffcf9b);
  background-size: cover;
  background-repeat: no-repeat;
}

.home_banner{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
