.navbar-lewagon {
  display: flex;
  position: fixed;
  background: #FFFFF3;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar-container{
  display: flex;
  width: 1400px;
  margin: 10px;
  justify-content: space-between;
}

.navbar-logo{
  align-items: 'center';
}

.navbar-link{
  font-size: 18px;
  font-weight: 600;
  color: #E05A47;
  padding: 8px 0;
  text-decoration: none !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  margin-right: auto !important;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

//.navbar-lewagon-white {
//  background-color: white;
//  color: black;
//}

//.navbar-lewagon .navbar-collapse {
//  flex-grow: 0;
//}
