h1{
  font: Kanit;
  font-size: 96px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFFF3;
  line-height: 80px;
}

h2{
  font: Kanit;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #004AAD;
  line-height: 24px;
}

h3{
  font: Kanit;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #004AAD;
}
