h1{
  font-family: Kanit;
  font-size: 96px;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFFFF3;
  line-height: 80px;
}

h2{
  font-family: Kanit;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  color: #004AAD;
  line-height: 24px;
}

h3{
  font-family: Kanit;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #004AAD;
}

h4{
  font-family: Kanit;
  font-size: 18px;
  font-weight: 400;
  color: #004AAD;
}

h5{
  font-family: Kanit;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFF3;
}

h6{
  font-family: Kanit;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFF3;
}

h7{
  font-family: Kanit;
  font-size: 18px;
  font-weight: 600;
  color: #004AAD;
  margin: 0;
}

h8{
  font-family: Kanit;
  font-size: 14px;
  font-weight: 200;
  color: black;
}

h9{
  font-family: Kanit;
  font-size: 18px;
  font-weight: 200;
  color: black;
  padding: 8px 0;
}

h10{
  font-family: Kanit;
  font-size: 16px;
  font-weight: 200;
  color: black;
  padding: 8px 0;
}

a{
  font-family: Kanit;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFF3;
  text-decoration: none !important;
}

p{
  font-family: Kanit;
}
