
<div class="container">

  <br> <br> <br>
  <h1>Página Show-Groceries List</h1>


  <div class="groceries_list">

    <%@ingredient_sum.each do |ingredient|%>
      <div class="groceries_item">
        <li><%=ingredient[0]%>  --------  <%=ingredient[1]%>. <%=(Ingredient.find_by(name: ingredient[0])).unit%></li>
        <%end%>
      </div>
  </div>
</div>
